@charset "UTF-8";
/*--------------------------------------------------------------
# HERO HEADER
--------------------------------------------------------------*/
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-video,
.background-fallback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  pointer-events: none;
  transition: opacity 1s ease-in-out, transform 0.1s ease-out;
}

.hero-video {
  opacity: 0;
}

.hero-video.loaded {
  opacity: 1;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
.logo-container {
  position: relative;
  z-index: 2;
  width: 50%;
  transition: transform 0.1s ease-out;
}

.banner img {
  width: 100%;
  animation: float 3s ease-in-out infinite;
}

.background-fallback {
  background: url("../assets/images/banner.png") no-repeat center center/cover;
  z-index: 0;
  opacity: 1;
  transition: transform 0.1s ease-out;
}

.background-fallback.hidden {
  opacity: 0;
  z-index: -1;
}

/*--------------------------------------------------------------
# TITRES
--------------------------------------------------------------*/
/* Animation for text appearance */
/*--------------------------------------------------------------
# TITRES
--------------------------------------------------------------*/
/* Animation for text appearance from bottom to top */
@keyframes slide-up {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.section--titre__focus {
  position: relative;
  color: #FFF5E9; /* Couleur de texte blanche */
  opacity: 0; /* Début de l'animation avec opacité 0 */
  transform: translateY(20px); /* Position initiale en dehors de l'écran */
  animation: none; /* Désactive les animations initiales */
}

.section--titre__focus.is-visible {
  animation: slide-up 1.5s ease-out forwards; /* Applique l'animation de slide-up */
}

/*--------------------------------------------------------------
# NOMINATION OSCAR
--------------------------------------------------------------*/
.oscar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  width: 100%;
  height: 600px;
}
.oscar .oscar--titulo {
  background-image: url("../assets/images/Rectangle23.png");
  background-position: center;
  width: 53rem;
  height: 19.4375rem;
  padding: 4.0625rem;
  margin-right: 1.5rem;
  color: #FFF5E9;
  text-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  font-family: "Quicksand", sans-serif;
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.0525rem;
  text-align: left;
}
.oscar .oscar--image-container {
  width: 17.375rem;
  height: 8.0625rem;
  background: url("../assets/images/oscar.png") no-repeat center;
  background-size: cover;
  flex-shrink: 0; /* Empêche l'image de se rétrécir */
  display: flex;
  align-items: center; /* Centre l'image verticalement */
  justify-content: center; /* Centre l'image horizontalement */
}

/*--------------------------------------------------------------
# ANIMATIONS DES SECTIONS
--------------------------------------------------------------*/
/* Animation pour fade-in (du bas vers le haut) */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.section {
  opacity: 0; /* Sections sont cachées au départ */
  animation: fade-in 1.5s ease-out forwards;
}

/*--------------------------------------------------------------
# Les fleurs
--------------------------------------------------------------*/
/* Styles individuels pour chaque fleur */
.story__article::after {
  content: url(../assets/images/Hibiscus.png); /* hibiscus de l'histoire */
  transform-origin: center;
  left: 82em;
  top: 7em;
}

.story h2::after {
  content: url(../assets/images/Sunflower.png); /* margarida de l'histoire */
  transform-origin: center;
  top: 7.5em;
  left: 1.9em;
}

#studio h2::after {
  content: url(../assets/images/flower.png); /* mille-fleur orange */
  transform-origin: center;
  left: 87%;
  top: 2em;
}

#studio h2::before {
  content: url(../assets/images/random_flower.png); /* fleur purple studio */
  transform-origin: center;
  left: 2em;
  top: 1.5em;
}

.site-footer::before {
  content: url(../assets/images/Sunflower.png); /* margarida footer */
  transform-origin: center;
  left: 4em;
  top: 5em;
}

.site-footer::after {
  content: url(../assets/images/orchid.png); /* violeta violet */
  transform-origin: center;
  right: 10%;
  top: 2em;
  z-index: 100;
}

.margarida--footer {
  content: url(../assets/images/Sunflower.png);
  transform-origin: center;
  left: 18%;
  top: 20%;
  z-index: 100;
}

.orchid--footer {
  content: url(../assets/images/orchid.png);
  transform-origin: center;
  left: 99%;
  top: 32px;
  z-index: 100;
}

.site-footer::before {
  display: none;
}

.site-footer::after {
  display: none;
}

/* Les fleurs sont bourrées et tournent tournent et tournent*/
.story__article::after,
.story h2::after,
#studio h2::after,
#studio h2::before,
.orchid--footer,
.margarida--footer {
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  animation: rotateAnimation 10s linear infinite;
}

@keyframes rotateAnimation {
  from {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Swiper Characthers
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Le Lieu
--------------------------------------------------------------*/
.story #place {
  background-image: url(../assets/images/image_place.png);
}

#place {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cloud {
  background: url("../assets/images/Nuages.png") no-repeat;
  transform-origin: center;
  position: absolute;
  left: 1031px;
  top: 65px;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-out;
  z-index: 10;
}

/*--------------------------------------------------------------
# Menu Burger
--------------------------------------------------------------*/
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFF5E9;
  z-index: 1000;
}
.site-header .nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 20px;
}
.site-header .nav-header .site-title {
  flex: 1;
  text-align: center;
  list-style-type: none;
}
.site-header .nav-header .fa-bars, .site-header .nav-header .fa-xmark {
  font-size: 24px;
  cursor: pointer;
  color: #000;
}
.site-header .nav-header .fa-bars.hidden {
  display: none;
}
.site-header .nav-header .fa-xmark.hidden {
  display: none;
}
.site-header .nav-header .fa-xmark.visible {
  display: block;
}

.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  background-color: #FFF5E9;
  color: black;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 999;
}
.menu.hidden {
  transform: translateX(100%);
}
.menu.visible {
  transform: translateX(0);
}
.menu li {
  list-style: none;
  margin: 20px 0;
}
.menu a {
  color: black;
  text-decoration: none;
  font-size: 24px;
}

/*# sourceMappingURL=styles.css.map */
